##
# {{ ansible_managed }}
#

server {

    sendfile on;
    keepalive_timeout 65;
    access_log {{ web_olympus_app.logs.nginx_access_file }} main;
    error_log {{ web_olympus_app.logs.nginx_error_file }};
    root "{{ web_olympus_app.root }}/code/static";

    {% if not web_olympus_app.app_behind_loadbalancer %}
        ssl_certificate {{ web_olympus_app.root }}/ssl/web_olympus_app.crt;
        ssl_certificate_key {{ web_olympus_app.root }}/ssl/web_olympus_app.key;
    {% endif %}

    listen *:80;
    {% if not web_olympus_app.app_behind_loadbalancer %}
        listen *:443 ssl;
        server_name web-olympus-static.app.internal;
    {% endif %}

    {% if web_olympus_app.app_behind_loadbalancer %}
        server_name _;
    {% endif %}

    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains;";

    location = /healthcheck {
      try_files $uri $uri/index.html $uri/;
      break;
    }

    rewrite ^/images/(.*)$ https://s3-eu-west-1.amazonaws.com/xmas-images/$1 last;
    rewrite ^/(.*)/$ /$1 permanent;

    location / {

    {% if not web_olympus_app.app_behind_loadbalancer %}
        #No loadbalancer
        if ($ssl_protocol = "") {
          rewrite ^/(.*) https://$host/$1 permanent;
        }
    {% else %}
        #Behind load balancer
        if ( $http_x_forwarded_proto != 'https' ) {
          rewrite ^/(.*) https://$host/$1 permanent;
        }
    {% endif %}

        #Serving index page as final option incase a customer is already
        #using the dynamic site when the holding page gets activated.
        #This way the url will be preserved and they will not get a confusing 404 message

        try_files $uri $uri/ $uri/index.html /index.html;
    }

    error_page 500 501 502 503 504 /50x.html;
    location = /50x.html {
        internal;
    }
}