app.product.csv=./build/product_data.csv
app.build.dir=/home/{{ web_olympus_app.name }}/code
app.build.dir.current=/home/{{ web_olympus_app.name }}/code
app.vendor.dir.delete=false
app.env.type={{ web_olympus_app.app_env_mode }}
webserver.name=nginx
app.tests.bdd.auto_screenshot=false
selenium.hub.url=http://127.0.0.1:4444/wd/hub
app.front-controllers.remove=
